/* COMMON */
body {
    height: 100vh;
    background-color: #cde1c1;
}


/* NAV */
header {
    height: 60px;
    background-color: white;
}

.container {
    height: 100%;
}

.img-cont {
    width: 14%;
}

.img-cont img {
    height: 100%;
    width: 100%;
    min-width: 80px;
    min-height: 80px;

    object-fit: contain;
}

/* CARDS */
.row {
    padding: 50px;
    width: 75%;
}
.card {
    background-color: #1cd760;
    position: relative;
}

.card-title {
    font-size: 0.9rem;
}

.card-text {
    margin-bottom: 0;
}

/* LIKE BUTTON */
.ms-like-btn {
    position: absolute;
    top: 0;
    right: 0;
}

.ms-like-btn button{
    border: none;
    background-color: transparent;
    color: white;
    font-size: 1.5rem;
}

.ms-like-btn {
    display: none;
}

.card:hover .ms-like-btn {
    display: block;
}
